results/* filter=lfs diff=lfs merge=lfs -text
*.png
results/masked_30.pickle filter=lfs diff=lfs merge=lfs -text
results/masked_60.pickle filter=lfs diff=lfs merge=lfs -text
results/csd_30_fit.pickle filter=lfs diff=lfs merge=lfs -text
results/csd_60_fit.pickle filter=lfs diff=lfs merge=lfs -text
results/csd_odfs_31.png filter=lfs diff=lfs merge=lfs -text
results/csd_odfs_60.png filter=lfs diff=lfs merge=lfs -text
results/csd_odfs_masked_whole_30.png filter=lfs diff=lfs merge=lfs -text
results/filtered_static.png filter=lfs diff=lfs merge=lfs -text
results/csa_odfs_60.png filter=lfs diff=lfs merge=lfs -text
results/csd_odfs_masked_whole.png filter=lfs diff=lfs merge=lfs -text
results/qball_odfs_30.png filter=lfs diff=lfs merge=lfs -text
results/qball_odfs__whole_30.png filter=lfs diff=lfs merge=lfs -text
results/qball_odfs_whole_30.png filter=lfs diff=lfs merge=lfs -text
results/csd_odfs_masked_whole_60.png filter=lfs diff=lfs merge=lfs -text
results/gabor_jets.png filter=lfs diff=lfs merge=lfs -text
results/csd_odfs_masked_whole_30_sphere.png filter=lfs diff=lfs merge=lfs -text
results/whole_csd_odfs_61.png filter=lfs diff=lfs merge=lfs -text
results/csd_odfs_61.png filter=lfs diff=lfs merge=lfs -text
results/csd_odfs_masked_rotated_whole_60.png filter=lfs diff=lfs merge=lfs -text
results/csd_odfs_masked_rotated_whole_60_sphere.png filter=lfs diff=lfs merge=lfs -text
results/whole_csd_odfs_31.png filter=lfs diff=lfs merge=lfs -text
results/csd_odfs_maksed_whole_60.png filter=lfs diff=lfs merge=lfs -text
results/csd_odfs.png filter=lfs diff=lfs merge=lfs -text
results/csd_odfs_30.png filter=lfs diff=lfs merge=lfs -text
results/gabor_filter_bank_static.png filter=lfs diff=lfs merge=lfs -text
results/qball_odfs_masked_whole_30.png filter=lfs diff=lfs merge=lfs -text
results/csa_odfs_30.png filter=lfs diff=lfs merge=lfs -text
results/qball_odfs_whole_60.png filter=lfs diff=lfs merge=lfs -text
results/csd_odfs_whole.png filter=lfs diff=lfs merge=lfs -text
results/filtered_moving.png filter=lfs diff=lfs merge=lfs -text
results/qball_odfs_60.png filter=lfs diff=lfs merge=lfs -text
